.models {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}

.models-disabled {
  display: none;
}

.model-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
  min-height: 1em;
}

.model-item {
  min-width: 90px;
  font-family: "RobotoCondensed", Arial, Helvetica, sans-serif;
  font-style: light;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #222222;
}

.model-item_text {
  margin: 0;
  cursor: pointer;
}

.model-list__category {
  max-width: 100%;
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(7, 32px);
  gap: 10px;
  margin: 10px;
}

.main-form_params-item__category {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  cursor: pointer;
  transition-duration: 0.2s;
}

.main-form_params-item__category:hover {
  background-color: #e4e4e4;
  transition-duration: 0.2s;
}

.model-item_text__category {
  font-family: "RobotoCondensed", Arial, Helvetica, sans-serif;
  font-style: light;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #222222;
}

@media screen and (max-width: 1424px) {
  .model-list__category {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(12, 32px);
    gap: 10px;
    margin: 10px;
  }
}

@media screen and (max-width: 1030px) {
  .model-list {
    display: none;
  }
}
