.popup-cart {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;
}

.popup-cart-container {
  width: 70%;
  height: 70%;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.popup-cart_close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  transition-duration: 0.2s;
}

.popup-cart_close:hover {
  transition-duration: 0.2s;
  rotate: 90deg;
}

.popup-cart_list {
  list-style-type: none;
  margin: 20px 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(224, 224, 224);
  width: 70%;
  height: 70%;
  overflow-y: auto;
}

.popup-cart_btn {
  color: #ffffff;
  width: 50%;
  height: 40px;
  background: linear-gradient(90deg, #de556f, #48204e);
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 20px 0 20px;
  font-family: "RobotoCondensed", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.popup-cart_total-container{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popup-cart_total{
  font-family: "RobotoCondensed", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}
