.main-news {
  width: 1043px;
  height: 520px;
  overflow: hidden;
}

.main-news-disabled{
  display: none;
}

.main-news_cards-container {
  position: relative;
  width: 1043px;
  height: 520px;
}

.main-news_select-btns {
  position: absolute;
  top: 45%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 9;
}

.main-news_select-btn {
  width: 32px;
  height: 32px;
  border: none;
  background: linear-gradient(90deg, #de556f, #48204e);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.main-news_select-btn__disable {
  background: grey;
}

.main-news_select-btn-left {
  margin-left: 10px;
  border-radius: 50%;
}

.main-news_select-btn-right {
  margin-right: 10px;
  border-radius: 50%;
}

.main-news_select-arrow-left {
  margin-right: 2px;
}

.main-news_select-arrow-right {
  rotate: 180deg;
  margin-left: 1px;
}

.main-news_cards {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.main-news_card {
  width: 100%;
  height: 100%;
}

.main-news_screen {
  width: 1043px;
  height: 520px;
}
@media screen and (max-width: 1424px) {
  .main-news {
    width: 673px;
    height: 346px;
  }

  .main-news_cards-container {
    width: 673px;
    height: 346px;
  }

  .main-news_cards {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  .main-news_card {
    width: 673px;
    height: 346px;
  }

  .main-news_screen {
    width: 673px;
    height: 346px;
    background-color: #222222;
  }
}

@media screen and (max-width: 1030px) {
  .main-news {
    width: 728px;
    height: 374px;
  }

  .main-news_cards-container {
    width: 728px;
    height: 374px;
  }

  .main-news_card {
    width: 100%;
    height: 100%;
  }

  .main-news_screen {
    width: 728px;
    height: 374px;
  }
}

@media screen and (max-width: 780px) {
  .main-news_cards {
    min-width: 300px;
    width: 100%;
  }

  .main-news {
    min-width: 300px;
    min-height: 154px;
    height: 100%;
    width: 96%;
    aspect-ratio: 16/9;
  }

  .main-news_cards-container {
    min-width: 100%;
    min-height: 154px;
    height: 100%;
    width: 100%;
    aspect-ratio: 16/9;
  }

  .main-news_card {
    min-width: 100%;
    min-height: 154px;
    height: 100%;
    width: 100%;
    aspect-ratio: 16/9;
  }
}
