.header {
  max-width: 1401px;
  margin: 0 259.5px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 94px;
  margin: 20px 0 0;
  gap: 30px;
  padding: 0;
}

.header_logo-container {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.header_location {
  font-family: "RobotoCondensed";
  color: #222222;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  height: 38px;
}

.header_location::before {
  content: url(../../media/geo.svg);
  width: 12px;
  height: 12px;
}

.header_logo {
  background-image: url(../../media/Header_Logo.svg);
  background-position: left center;
  background-repeat: no-repeat;
  width: 180px;
  height: 38px;
}

.header_navbar-container {
  max-width: 901px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: none;
  margin-right: 10px;
}

.header_navbar-contacts {
  max-width: 901px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.header_navbar-phones {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 24px;
  box-sizing: border-box;
}

.header_navbar-phone-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.header_navbar-phone {
  font-family: "RobotoCondensed";
  color: #222222;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0;
  padding: 0;
}

.header_navbar-phone__correct {
  font-family: "RobotoCondensed";
  color: #666666;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}

.header_navbar-link {
  font-family: "RobotoCondensed", Arial, Helvetica, sans-serif;
  color: #222222;
  /* ??????????????????????? */
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.header_navbar-pays {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 16px;
}

.header_navbar-pay {
  font-family: "RobotoCondensed", Arial, Helvetica, sans-serif;
  font-style: light;
  color: #222222;
  /* ??????????????????????? */
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.header_navbar-search-container {
  max-width: 901px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 14px;
  overflow: hidden;
}

.header_navbar-catalog-btn {
  cursor: pointer;
  height: 42px;
  min-width: 135px;
  background: linear-gradient(90deg, #de556f, #48204e);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  font-family: "RobotoCondensed", Arial, Helvetica, sans-serif;
  font-style: light;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.header-menu {
  width: 19px;
  height: 12px;
}

.header_navbar-search {
  width: 100%;
  min-width: 280px;
  height: 42px;
  background: linear-gradient(#ffffff 0 0) padding-box,
    linear-gradient(90deg, #de556f, #48204e) border-box;
  border: 1px solid transparent;
  outline: none;
  border-radius: 5px;
  padding: 12px 24px;
  display: inline-block;
  font-family: "RobotoCondensed", Arial, Helvetica, sans-serif;
  font-style: light;
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #666666;
}

.header_navbar-button {
  height: 42px;
  min-width: 94px;
  background: linear-gradient(90deg, #de556f, #48204e);
  border-radius: 5px;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.header_navbar-cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 35px;
  height: 35px;
  position: relative;
}

.header_navbar-cart {
  width: 24px;
  height: 24px;
}

.header_navbar-cart-description {
  margin: 0;
  padding: 0;
  font-family: "RobotoCondensed", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-style: Light;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #222222;
}

.header_navbar-cost {
  font-family: "RobotoCondensed", Arial, Helvetica, sans-serif;
  /* ??????????????????????????? */
  font-weight: 700;
  font-style: Medium;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #222222;
}

.header_navbar-cart-number {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 2px;
  width: 10px;
  height: 10px;
  background: linear-gradient(90deg, #de556f, #48204e);
  border: none;
  border-radius: 50%;
  color: #ffffff;
  font-family: "RobotoCondensed", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-style: Light;
  font-size: 8px;
  line-height: 100%;
  letter-spacing: 0%;
}

.header_navbar-search-container {
  position: relative;
  padding: 0;
  margin: 0;
}

.header_navbar-search-img {
  position: absolute;
  right: 24px;
  background-image: url(../../media/search.svg);
  background-repeat: no-repeat;
  background-position: right;
  width: 18px;
  height: 18px;
}

@media screen and (max-width: 1424px) {
  .header {
    max-width: 1020px;
    margin: 0 90px;
  }

  .header_navbar-container {
    max-width: 687px;
  }

  .header_navbar-search {
    max-width: 323px;
    font-size: 16px;
  }
}

@media screen and (max-width: 906px) {
  .header_navbar-contacts {
    display: none;
  }

  .header_navbar-cart-container {
    display: none;
  }

  .header_navbar-container{
    height: 94px;
    margin-top: 10px;
    justify-content: center;
  }

  .header_navbar-cost{
    display: none;
  }
}

@media screen and (max-width: 1030px) {
  .header {
    max-width: 728px;
    height: 80px;
    align-items: center;
  }

  .header_location {
    display: none;
  }

  .header_location::before {
    display: none;
  }

  .header_logo-container {
    justify-content: center;
  }

  .header_logo {
    background-image: url(../../media/Header_Logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 167px;
    height: 27px;
  }

  .header_navbar-container {
    max-width: 425px;
    width: 100%;
    height: 42px;
    justify-content: center;
    margin-top: 0;
  }

  .header_navbar-contacts {
    display: none;
  }

  .header_navbar-search-container {
    max-width: 425px;
    gap: 8px;
  }

  .header_navbar-search {
    max-width: 323px;
    min-width: 122px;
    font-size: 16px;
  }

  .header_navbar-catalog-btn {
    display: none;
  }

  .header-menu {
    display: none;
  }
}

@media screen and (max-width: 780px) {
   .header_logo-container {
    margin: 0 0 0 10px;
  }
}

@media screen and (max-width: 440px) {
  .header_navbar-button {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 300px;
    height: 72px;
    align-items: center;
    justify-content: center;
  }

  .header_logo {
    background-image: url(../../media/Header_Logo_320.svg);
    width: 145px;
    height: 26px;
  }

  .header_navbar-container {
    max-width: 122px;
    justify-content: flex-end;
  }

  .header_navbar-search-container {
    max-width: 122px;
  }

  .header_navbar-search {
    min-width: 122px;
  }

  .header_navbar-button {
    display: none;
  }
}
