.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.hideOverflow::-webkit-scrollbar {
    width: 0;
}

.hideOverflow::-webkit-scrollbar {
  width: 0;
}

@media screen and (max-width: 420px) {
  html::-webkit-scrollbar, body::-webkit-scrollbar, .App::-webkit-scrollbar {
    width: 0;
  }
  html::-webkit-scrollbar-track, body::-webkit-scrollbar-track, .App::-webkit-scrollbar-track {
    width: 0;
  }
}