.footer {
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container {
  max-width: 1401px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 21px;
  margin: 50px 0;
}

.footer_contacts-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 21px;
}

.footer_logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 21px;
}

.header_logo-container {
  height: 100%;
  width: 100%;
}

.footer_logo-img {
  background-image: url(../../media/Header_Logo.svg);
  background-position: left center;
  background-repeat: no-repeat;
  width: 180px;
  height: 26px;
}

.footer_phone {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 24px;
  box-sizing: border-box;
  margin: 0;
}

.footer_phone__correct {
  font-family: "RobotoCondensed";
  color: #666666;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0;
  padding: 0;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(90deg, #de556f 0%, #48204e 40%);
  -webkit-background-clip: text;
}

.footer_datetime {
  font-family: "RobotoCondensed";
  color: #666666;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0;
}

.footer_subtitle {
  text-decoration: none;
  font-family: "RobotoCondensed";
  color: #666666;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0 0 8px;
}

.footer_info-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer_info-link {
  text-decoration: none;
  font-family: "RobotoCondensed";
  color: #666666;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.footer_contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}

.footer_addres {
  font-family: "RobotoCondensed";
  color: #666666;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  margin: 0;
}

@media screen and (max-width: 1424px) {
  .footer-container {
    max-width: 1020px;
    width: 95%;
  }

  .footer_contacts-container {
    flex-direction: column;
    max-width: 325px;
  }
}

@media screen and (max-width: 1030px) {
  .footer-container {
    max-width: 728px;
    flex-direction: column;
  }

  .footer_contacts-container {
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
  }

  .footer_contacts {
    width: 50%;
  }
}

@media screen and (max-width: 650px) {
.footer_contacts-container {
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;
  }
  .footer_contacts {
    width: 100%;
  }
}
