.search {
  max-width: 1401px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.search-title {
  margin: 120px 0 0;
  padding: 0;
  font-family: "RobotoCondensed", Arial, Helvetica, sans-serif;
  font-style: light;
  font-weight: 700;
  font-size: 46px;
  line-height: 100%;
  letter-spacing: -1px;
  color: #222222;
}

.search_search-container {
  margin: 32px 0 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
  height: 42px;
}

.search_search-text-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search_search-text {
  width: 537px;
  height: 40px;
  background: linear-gradient(#ffffff 0 0) padding-box,
    linear-gradient(90deg, #de556f, #48204e) border-box;
  border: 1px solid transparent;
  outline: none;
  font-family: "RobotoCondensed", Arial, Helvetica, sans-serif;
  font-style: light;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  border-radius: 5px;
  padding: 0 24px;
}

.search_search-text-img {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 12px;
  right: 24px;
  background-image: url(../../media/search.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.search_search-button {
  width: 94px;
  height: 42px;
  border: none;
  background: linear-gradient(90deg, #de556f, #48204e);
  color: #ffffff;
  font-family: "RobotoCondensed", Arial, Helvetica, sans-serif;
  font-style: light;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  border-radius: 5px;
  padding: 0;
}

.search_cards-container {
  margin-top: 50px;
  max-width: 1400px;
  width: 100%;
}

.search_cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(326px, 1fr));
  grid-auto-flow: row;
  grid-gap: 24px;
  align-items: start;
  justify-items: center;
  list-style-type: center;
  padding: 0;
}

.search_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  width: 100%;
}

.search_card-text {
  margin: 8px 0 0;
  padding: 0;
  font-family: "RobotoCondensed", Arial, Helvetica, sans-serif;
  font-style: light;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -2%;
}

.search_card-img {
  width: 100%;
}

@media screen and (max-width: 1424px) {
  .search {
    max-width: 1020px;
    width: 95%;
  }

  .search-title {
    font-size: 32px;
  }

  .search_cards-container {
    margin-top: 50px;
    max-width: 1400px;
    width: 100%;
  }

  .search_cards {
    grid-template-columns: repeat(auto-fill, minmax(326px, 1fr));
    grid-gap: 20px;
  }
}

@media screen and (max-width: 1030px) {
  .search {
    max-width: 728px;
  }

  .search_search-container {
    display: none;
  }

  .search-title {
    margin: 62px 0 0;
  }

  .search_cards {
    grid-template-columns: repeat(auto-fill, minmax(354px, 1fr));
    grid-gap: 20px;
  }
}

@media screen and (max-width: 780px) {
  .search {
    margin: 0 10px;
  }

  .search_cards {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
  }

  .search_cards-container {
    max-width: 98%;
    margin: 0 10px;
  }
}

@media screen and (max-width: 650px) {
  .search-title {
    min-width: 300px;
    margin: 30px 0 0;
    font-size: 24px;
    text-align: center;
  }

  .search_card {
    width: 95%;
  }
}

@media screen and (max-width: 320px) {
  .search {
    min-width: 300px;
  }
}
