.propucts_add-to-cart-btn{
    width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(90deg, #de556f, #48204e);
  color: #ffffff;
  cursor: pointer;
  justify-self: flex-end;
  align-self: flex-end;
  font-family: "RobotoCondensed", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}